/* 
    Created on : Dec 5, 2025, 12:31:09 PM
    Author     : Dirk Van Meirvenne
*/
  .seatchart {
    display: flex;
    justify-content: center;
  }

  .economy {
    color: white;
    background-color: #43aa8b;
  }

  .first-class {
    color: white;
    background-color: #277da1;
  }

  .reduced {
    color: white;
    background-color: #f8961e;
  }